 
h3#searchTitle= "Search for conversations"
form#search-users(action="/search" method="POST")
  input#search-term(type='text' name='searchTerm' autocomplete="off")
  input#search-submit(type='submit' value='Search')
#search-dropdown

if recentMessages
  #messages
    each message in recentMessages
      a.message(href=`/messages/${message.toUser}`)
        if message.displayRead 
          .flexDiv
            img.pp(src=`/images/user-thumbs/${message.imageURL}`, alt="Image couldn't be found")
            .messageInfo
              p.sidebarMessageID= message.id
              h1= message.toUser
              h3= message.message
              if message.sentByUser
                p= `Sent ${message.formattedTimeSince}`
              else
                p= `Recieved ${message.formattedTimeSince}`
        else
          .flexDiv.unopened
            img.pp(src=`/images/user-thumbs/${message.imageURL}`, alt="Image couldn't be found")
            .messageInfo
              p.sidebarMessageID= message.id
              h1= message.toUser
              h3= message.message
              if message.sentByUser
                p= `Sent ${message.formattedTimeSince}`
              else
                p= `Recieved ${message.formattedTimeSince}`



else
  h1= "No messages recieved yet"





        