extends ../layout

block style
  link(href="/style/login.css" rel="stylesheet")

block content

  #bg
    img(src="/images/login-background.jpg")

  if fill
    #form-div
      #title= "Create an account"
      form(action="/users/signup" method="POST")
        .form-element
          .errors
            p  Username: 
            if error
              p.error= error.username
          input(type='text' name='username' value=`${fill.username}` autocomplete="off")
        .form-element
          .errors
            p  Email: 
            if error
              p.error= error.email
          input(type='text' name='email' value=`${fill.email}` autocomplete="off")
        .form-element
          .errors
            p  Password: 
            if error
              p.error= error.password
          input(type='password' name='password' autocomplete="off")
        .form-element
          .errors
            p  Verify Password: 
            if error
              p.error= error.passwordDup
          input(type='password' name='verifyPassword' autocomplete="off")
        input#createAccount(type='submit' value="Create Account")
  else
    #form-div
      #title= "Create an account"
      form(action="/users/signup" method="POST")
        .form-element
          p  Username: 
          if error
            p.error= error.username
          input(type='text' name='username')
        .form-element
          p  Email: 
          if error
            p.error= error.email
          input(type='text' name='email')
        .form-element
          p  Password: 
          input(name='password')
        .form-element
          p  Verify Password: 
          input(name='verifyPassword')
        input#createAccount(type='submit' value="Create Account")