
extends layout

block style
  link(href="https://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css" rel="stylesheet")
  link(href="/style/jquery.tagit.css" rel="stylesheet")
  link(href="/style/videomanager-specific.css" rel="stylesheet")

block content

  if video
    h1#welcome= "Edit video info"
    form#edit-form(method="POST")
      .form-element
        .perror
          p= 'Video Title:'
          p#titleError.error= ""
        input#title(type='text' name='title' value=`${video.title}`)
      .form-element
        .perror
          p= 'Description: '
          p#descriptionError.error= ""
        textarea#description(name='description')= video.description
      .form-element
        .perror
          p= 'Tags (Press enter to create):'
          p#tagsError.error= ""
        ul#myTags
          each tag in tags
            li= tag
      #footerButtons
        input(id='updateInfoButton' type='button' value='Edit Video Information' onclick="checkFormData()")
        button(id='deleteVideo' type="button" onClick="redirectToDeletePage()")= 'Delete Video'
  else
    h1#welcome= "Select a video to edit from the sidebar"

block script
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js")
  script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js")
  script(src="/js/tag-it.js")
  script(src="/js/videomanager-specific.js")




