
#comments
  each comment in comments  
    .comment
      .image
        a.thumb-holder(href=`/users/${comment.user}`)
          img(src=`/images/user-thumbs/${comment.imageURL}`)
      .comment-content
        .comment-header
          a.commentUsername(href=`/users/${comment.user}`)= comment.user
          p= `Posted ${comment.formattedDate}`
        p.commentBody= comment.comment
        .comment-footer
          div
            p.commentID= `${comment.id}`
          div
            p.commentLikes= `${comment.commentLikes}`
          div
            button.upVote(onclick="processCommentVote(this)")= '👍'
          div
            p.commentDislikes= `${comment.commentDislikes}`
          div
            button.downVote(onclick="processCommentVote(this)")= `👎`
          div
            button.replyButton(onclick="toggleReplyBox(this)")= `Reply`
          if comment.byUser
            div
              button(onclick="editComment(this)") Edit
            div
              button(id=`${comment.id}` onclick="deleteComment(this)") Delete
          if comment.edited
            div
              p.edited= `(Edited)`
    .reply-form
      textarea.comment-reply(name='reply')
      button.post-reply(onClick="postReply(this)")= "Reply"
        
    each reply in comment.replies
      .reply
        .image
          img(src=`/images/user-thumbs/${reply.imageURL}`)
        .comment-content
          .comment-header
            a.commentUsername(href=`/users/${reply.user}`)= reply.user
            p= `Posted ${reply.formattedDate}`
            
          p.commentBody= reply.comment
          .comment-footer
            div
              p.commentID= `${reply.id}`
            div
              p.commentLikes= `${reply.commentLikes}`
            div
              button.upVote(onclick="processCommentVote(this)")= '👍'
            div
              p.commentDislikes= `${reply.commentDislikes}`
            div
              button.downVote(onclick="processCommentVote(this)")= `👎`
            if reply.byUser
              div
                button(onclick="editComment(this)") Edit
              div
                button(id=`${reply.id}` onclick="deleteComment(this)") Delete
            if reply.edited
              div
                p= `(Edited)`
