
if videos
  #sidebar
    each vid in videos
      .video-preview
        a(href=`/video/${vid.id}`)
          video.sidebar-video(src=`/videos/${vid.videoURL}#t=2` muted)
          #svidinfo
            h1= vid.formattedTitle
            h2= vid.uploader
            h3= `${vid.formattedViews} Views`
            h3= `Uploaded ${vid.formattedUploadDate}`
else
  h1= `No videos yet`