extends ../layout

block content
  if videos
    h1#welcome= `Videos:`
    #video-container
      each video in videos  
        .video-preview
          a(href=`/video/${video.id}`)
            h1= video.title
            h2= video.uploader
            video(src=`/videos/${video.videoURL}#t=10`)

        //.video-preview
          a(href=`/video/${vid.id}`)
            video.sidebar-video(src=`/videos/${vid.videoURL}#t=10` volume=0.5)
            #svidinfo
              h1= vid.formattedTitle
              h2= vid.uploader
              h3= `${vid.formattedViews} Views`
              h3= vid.formattedUploadDate

  else
    h1#welcome= "No videos uploaded yet"

block style
  link(href='/style/videos.css' rel='stylesheet')
  link(href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet")

block script
  script(src='/js/videos.js')