extends ../layout

block style
  link(href='/style/video-specific.css' rel='stylesheet')
  link(href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet")


block content

  if video
    #video-div
      h1= video.title
      video(width='700' height='400' controls='')
        source(src=`/videos/${video.videoURL}` type='video/mp4')
    
      #subinfo
        p= `${video.viewCount} Views`
        button#upVote(onclick="processUpvote()")= `Upvote`
        p#upvoteCount= `${video.upvotes}`
        p#downvoteCount= `${video.downvotes}`
        button#downVote(onclick="processDownvote()")= `Downvote`
        p#subCount= `Subscribers: ${uploader.subscriberCount}`
        if username
          if subscribed
            button#subscribeButton= `Unsubscribe`
          else
            button#subscribeButton= `Subscribe`
        else
          button#myButton= `Log in to subscribe`
      h1#username= `${uploader.username}`

    #description-info
      button#descButton(onClick="toggleDescription()")= "Show More"
      h1#date= formattedDate
      p#description= video.description
      p#tags= video.tags

    if username
      form(action=`/video/${video.id}/add-comment` method="POST" onsubmit='addComment()')
        .form-element
          p  Comment: 
          textarea#comment(name='comment')
        input(type='submit' value='Post Comment')
    else
      h3= "You need to log in to be able to post comments"
  
  #comments
    each comment in comments  
      .comment
        h1= comment.user
        p= comment.comment

block script
  script(src='/js/test.js')