extends ../layout

block style
  link(href='/style/video-specific.css' rel='stylesheet')
  link(href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet")


block content

  if video
    video#video(src=`/videos/${video.videoURL}` autoplay controls)
    #videocontent
      p= video.title
      #videoinfo
        p= `${video.viewCount} Views`
        #voting
          p#upvoteCount= `${video.upvotes}`
          button#upVote(onclick="processUpvote()")= '👍'
          p#downvoteCount= `${video.downvotes}`
          button#downVote(onclick="processDownvote()")= `👎`
        if username
          if subscribed
            button#subscribeButton= `Unsubscribe`
          else
            button#subscribeButton= `Subscribe`
        else
          button#subscribeButton= `Log in to subscribe`
      #subinfo
        a#username(href=`/users/${uploader.username}`)= `${uploader.username}`
        p#subCount= `Subscribers: ${uploader.subscriberCount}`

      button#descButton(onClick="toggleDescription()")= "Show More"
      #description-info
        h1#date= `Uploaded on ${formattedDate}`
        h2= `Description`
        p#description= video.description
        p#tags= video.tags

    if username
      form(action=`/video/${video.id}/add-comment` method="POST" onsubmit='addComment()')
        .form-element
          p  Comment: 
          textarea#comment(name='comment')
        input(type='submit' value='Post Comment')
    else
      h3= "You need to log in to be able to post comments"
  
  #comments
    each comment in comments  
      .comment
        h1= comment.user
        p= comment.comment

block script
  script(src='/js/test.js')