extends ../layout

block style
  link(href='/style/video-specific.css' rel='stylesheet')
  link(href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet")


block content

  if video
    #video-div
      h1= video.title
      video(width='700' height='400' controls='')
        source(src=`/videos/${video.videoURL}.mp4` type='video/mp4')
    
      #subinfo
        p= `${video.viewCount} Views`
        p#subCount= `Subscribers: ${uploader.subscriberCount}`
        if username
          if subscribed
            button#myButton= `Unsubscribe`
          else
            button#myButton= `Subscribe`
        else
          button#myButton= `Log in to subscribe`
      h1#username= `${uploader.username}`

    h1= formattedDate
    p= video.description

    form(action=`/video/${video.id}/add-comment` method="POST")
      .form-element
        p  Comment: 
        textarea(name='comment')
      input(type='submit')

  each comment in comments  
    comment
      h1= comment.user
      p= comment.comment

block script
  script(src='/js/test.js')