extends ../layout

block style
  link(href='/style/videoSpecific/comments.css' rel='stylesheet')
  link(href='/style/videoSpecific/video-specific.css' rel='stylesheet')
  link(href='/style/videoSpecific/description.css' rel='stylesheet')
  link(href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet")

  
  link(href='/style/login-alert.css' rel='stylesheet')


block content

  include sidebar-videos

  #other-content
    if video
      video#video(src=`/videos/${video.videoURL}` autoplay controls)
      #videocontent
        p#videoTitle= video.title
        #firstInfo
          p#views= `${video.formattedViews} Views`
          p#date= `Uploaded ${video.formattedDate}`
        #videoinfo
          #subinfo
            a(href=`/users/${uploader.username}`)
              img#uploaderPhoto(src=`/images/user-thumbs/${uploader.imageURL}`)
            #subdiv
              a#userName(href=`/users/${uploader.username}`)= `${uploader.username}`
              if uploader.subscriberCount == 1
                p#subCount= `${uploader.formattedSubscriberCount} Subscriber`
              else
                p#subCount= `${uploader.formattedSubscriberCount} Subscribers`
            if subscribed
              button#subscribeButton(onClick="processSubscribe()")= `Unsubscribe`
            else
              button#subscribeButton(onClick="processSubscribe()")= `Subscribe`
          
          button#bookmark(onClick="processBookmark()")= "Bookmark Video"
          .fb-share-button(data-href=`http://portfolioprojects-env.eba-acnyrxxp.ap-southeast-2.elasticbeanstalk.com/video/${video.id}` data-layout="button" data-size="large")
            a(target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A8081%2Fvideo&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore")= Share

          #voting
            p#upvoteCount= `${video.formattedUpvotes}`
            button#upVote(onclick="processVideoVote(this)")= '👍'
            p#downvoteCount= `${video.formattedDownvotes}`
            button#downVote(onclick="processVideoVote(this)")= `👎`
        
        button#descButton(onClick="toggleDescription()")= "Show Description"
        #description-info
          h3= `Description`
          p#description= video.description
          h3= `Tags`
          ul#tags
            each tag in video.formattedTags
              li.tag= `${tag}`

      #commentFiltering
        h1= `${numComments} comments`
        p= "Filter comments: "
        select#filterOptions
          option(value="new")= "Newest first"
          option(value="top")= "Popular first"

      if username
        #comment-form
          p= "Comment:" 
          textarea#comment(name='comment')
          button#post-comment(onClick="postComment()")= "Post"
      else
        h3= "You need to log in to be able to post comments"
    
  

    include comments

block script
  script(src='/js/video-specific.js')
  script(src='/js/votes.js')
  script(src='/js/comments.js')
  script(src='/js/video-specific.js')
  script(src='/js/loginAlert.js')