extends ../layout

block style
  link(href='/style/comments.css' rel='stylesheet')
  link(href='/style/video-specific.css' rel='stylesheet')
  link(href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet")


block content

  //SIDE BAR FOR VIDEOS
  if videos
    #sidebar
      each vid in videos
        .video-preview
            a(href=`/video/${vid.id}`)
              video(src=`/videos/${vid.videoURL}#t=10` volume=0.5)
              #svidinfo
                h1= vid.formattedTitle
                h2= vid.uploader
                h3= `${vid.formattedViews} Views`
                h3= vid.formattedUploadDate
  else
    h1= `No videos yet`

  #other-content
    if video
      video#video(src=`/videos/${video.videoURL}` autoplay controls)
      #videocontent
        p#videoTitle= video.title
        #videoinfo
          p= `${video.viewCount} Views`
          #subinfo
            a#userName(href=`/users/${uploader.username}`)= `${uploader.username}`
            if uploader.subscriberCount == 1
              p#subCount= `${uploader.formattedSubscriberCount} Subscriber`
            else
              p#subCount= `${uploader.formattedSubscriberCount} Subscribers`
          #voting
            p#upvoteCount= `${video.upvotes}`
            button#upVote(onclick="processVideoVote(this)")= '👍'
            p#downvoteCount= `${video.downvotes}`
            button#downVote(onclick="processVideoVote(this)")= `👎`
          if username
            if subscribed
              button#subscribeButton= `Unsubscribe`
            else
              button#subscribeButton= `Subscribe`
          else
            button#subscribeButton.notLoggedIn= `Subscribe`
        

        button#descButton(onClick="toggleDescription()")= "Show Description"
        #description-info
          h3#date= `Uploaded on ${video.formattedDate}`
          h3= `Description`
          p#description= video.description
          h3= `Tags`
          p#tags= video.tags

      if username
        form(action=`/video/${video.id}/add-comment` method="POST" onsubmit='addComment()')
          .form-element
            p  Comment: 
            textarea#comment(name='comment')
          input(type='submit' value='Post Comment')
      else
        h3= "You need to log in to be able to post comments"
    
    #comments
      each comment in comments  
        .comment
          h1.commentUsername= comment.user
          p.commentBody= comment.comment
          p= `Posted ${comment.formattedDate}`
          .votes
            p.commentID= `${comment.id}`
            p.commentLikes= `${comment.commentLikes}`
            button.upVote(onclick="processCommentVote(this)")= '👍'
            p.commentDislikes= `${comment.commentDislikes}`
            button.downVote(onclick="processCommentVote(this)")= `👎`
            button.reply(onclick="toggleReplyBox(this)")= `Reply`

          form.reply-form(action=`/video/${video.id}/add-reply/${comment.id}` method='POST' onsubmit='addReplyComment(this)')
            .form-element
              textarea.reply(name='reply')  
            input(type='submit' value='Post Reply')


          
        each reply in comment.replies
          .reply
            h1.commentUsername= reply.user
            p.commentBody= reply.comment
            p= `Posted ${reply.formattedDate}`
            .votes
              p.commentID= `${reply.id}`
              p.commentLikes= `${reply.commentLikes}`
              button.upVote(onclick="processCommentVote(this)")= '👍'
              p.commentDislikes= `${reply.commentDislikes}`
              button.downVote(onclick="processCommentVote(this)")= `👎`


block script
  script(src='/js/video-specific.js')
  script(src='/js/votes.js')