

extends layout

block style
  link(href="/style/templates/advanced-video-template.css" rel="stylesheet")
  link(href="/style/templates/video-template.css" rel="stylesheet")
  link(href="/style/search.css" rel="stylesheet")

block content

  #videoFiltering
    p= "Filter by: "

    select#filterOptions
      if defaults.popular
        option(value="popular" selected)= "Popular"
      else
        option(value="popular")= "Popular"
      if defaults.new
        option(value="new" selected)= "New"
      else
        option(value="new")= "New"
      if defaults.controversial
        option(value="controversial" selected)= "Controversial"
      else
        option(value="controversial")= "Controversial"


    p= "Sort by: "
    select#filterType
      if defaults.desc
        option(value="desc" selected)= "Descending"
      else
        option(value="desc")= "Descending"
      if defaults.asc
        option(value="asc" selected)= "Ascending"
      else
        option(value="asc")= "Ascending"


  if searchResults
    h1#welcome= `Search Results: `
    #video-container
      each video in searchResults
        if video.video  
          include templates/advanced-video-template
        else
          include templates/user-template

  else
    h1#welcome= "Nothing matched your search"

block script
  script(src="/js/search.js")