

extends layout

block style
  link(href="/style/templates/video-template.css" rel="stylesheet")
  link(href="/style/search.css" rel="stylesheet")

block content

  #videoFiltering
    p= "Filter by: "
    select#filterOptions
      option(value="popular")= "Popular"
      option(value="new")= "New"
      option(value="controversial")= "Controversial"

    p= "Sort by: "
    select#filterType
      option(value="desc")= "Descending"
      option(value="asc")= "Ascending"

  if videos
    h1#welcome= `Search Results: `
    #video-container
      each video in videos  
        include templates/video-template

  else
    h1#welcome= "Nothing matched your search"