


form(enctype="multipart/form-data" method="POST")
    .form-element
      .perror
        p= 'Video Title:'
        p#titleError.error= ""
      input#title(type='text' name='title')
    .form-element
      .perror
        p= 'Description: '
        p#descriptionError.error= ""
      textarea#description(name='description')
    .form-element
      .perror
        p= 'Tags (Press enter to create):'
        p#tagsError.error= ""
      ul#myTags
    #video-upload
      .perror
        p= 'Video Path: '
        p#videoError.error= ""
      input#file1(type='file' name='file1')
    input#start-upload(type='button' value='Start Upload' onclick="uploadVideo()")