


form(enctype="multipart/form-data" action="/upload" method="POST")
    .form-element
      .perror
        p= 'Video Title:'
        if error.title
          p.error= error.title
      if fillInfo.title
        input#title(type='text' name='title' value=`${fillInfo.title}`)
      else
        input#title(type='text' name='title')
    .form-element
      .perror
        p= 'Description: '
        if error.description
          p.error= error.description
      if fillInfo.description
        textarea#description(name='description')= `${fillInfo.description}`
      else
        textarea#description(name='description')
    .form-element
      .perror
        p= 'Tags: '
        if error.tags
          p.error= error.tags
      if fillInfo.tags
        textarea#tags(name='tags')= `${fillInfo.tags}`
      else
        textarea#tags(name='tags')
    #video-upload
      .perror
        p= 'Video Path: '
        if error.video
          p.error= error.video
        if error.file
          p.error= error.file
      input(type='file' name='fileName')
    input#submit(type='submit' value='Upload Video')