extends layout 


block content

  include account-header

  h1= "Welcome to your account"

  ul
    li
      a(href="/account/profile-picture")= "Change Profile Picture"
    li
      a(href="")= "Change Profile Banner"
    li
      a(href="")= "Update Email"
    li
      a(href="")= "Update Password"
    li
      a(href="")= "Delete Account"


    


block script
  script(src='/js/account.js')
