extends layout 

block style
  link(href="/style/account-home.css" rel="stylesheet")

block content

  h1#title= `Welcome to your account ${user.username}`

  .accountStatus
    if user.emailVerified
      p= "Account status: "
      p.verified= " VERIFIED"
    else
      p= "Account status: "
      p.notVerified= " NOT VERIFIED"
      a(href="account/verify-account")= "Verify account"

  ul#accountOptions
    li
      a(href="/account/profile-picture")= "Change Profile Picture"
    li
      a(href="/account/banner")= "Change Profile Banner"
    li
      a(href="/account/change-email")= "Update Email"
    li
      a(href="/account/change-password")= "Update Password"
    li
      a(href="")= "Delete Account"
    li
      a(href=`/account/video-manager`)= `Video Manager`
    li
      a(href=`/account/analytics`)= `Analytics`
    li
      a(href=`/watch-party`)= `Create Watch Party`


block script
  script(src='/js/account.js')
  script(src='/js/userProfile.js')
