

#sidebar
  if notHomeUser
    ul
      li
        a(href=`/users/${notHomeUser}`)= `Videos`
      li
        a(href=`/users/${notHomeUser}/comments`)= `Comments made`
      li
        a(href=`/users/${notHomeUser}/subscribers`)= `Subscribers`
      li
        a(href=`/users/${notHomeUser}/subscribed-to`)= `Suscribed to`
      li
        a(href=`/users/${notHomeUser}/liked-videos`)= `Liked Videos`
      li
        a(href=`/users/${notHomeUser}/disliked-videos`)= `Disliked Videos`
      li
        a(href=`/users/${notHomeUser}/bookmarked-videos`)= `Bookmarked Videos`
  else
    ul
        li
          a(href="/account")= `Videos`
        li
          a(href="/account/comments")= `Comments made`
        li
          a(href="/account/subscribers")= `Subscribers`
        li
          a(href="/account/subscribed-to")= `Suscribed to`
        li
          a(href="/account/liked-videos")= `Liked Videos`
        li
          a(href="/account/disliked-videos")= `Disliked Videos`
        li
          a(href="/account/bookmarked-videos")= `Bookmarked Videos`
        li
          a(href='/account/delete-account')= `Delete Account`

