extends layout 


block content
    h1= message

    if videos
      each video in videos
        .video-preview
          a(href=`/video/${video.id}`)
            h1= video.title
            h2= video.uploader
            video(src=`/videos/${video.videoURL}#t=10`)
            a(href=`/account/delete-video/${video.id}`)
          button(id=`${video.id}` onclick="deleteVideo(this)") Delete
    else
      h1= emptyMessage


block script
  script(src='/js/account.js')
