extends layout 

block style
  link(href="/style/account-home.css" rel="stylesheet")

block content

  h1#title= `Welcome to your account ${user.username}`

  ul#accountOptions
    li
      a(href="/account/profile-picture")= "Change Profile Picture"
    li
      a(href="/account/banner")= "Change Profile Banner"
    li
      a(href="/account/change-email")= "Update Email"
    li
      a(href="/account/change-password")= "Update Password"
    li
      a(href="/account/delete-account")= "Delete Account"
    li
      a(href=`/account/video-manager`)= `Video Manager`


block script
  script(src='/js/account.js')
  script(src='/js/userProfile.js')
