extends layout 



block content
    h1= message

    if comments
      each comment in comments
        .comment
          h2= comment.user
          h1= comment.comment
          h2= comment.video.title
          button(id=`${comment.id}` onclick="deleteComment(this)") Delete
    else
      h1= emptyMessage

block script
  script(src='/js/account.js')


    