extends layout 

block style
  link(href="/style/userProfile/userprofilesubs.css" rel="stylesheet")

block content
    h1#title= `${message}:`

    #subs-container
      if subs
        each sub in subs
          .userHeader
            a(href=`/users/${sub.username}`)
              img.userPhoto(src=`/images/user-thumbs/${sub.imageURL}`)
            .subdiv
              a.username(href=`/users/${sub.username}`)= `${sub.username}`
              p.subcount= `${sub.subscriberCount} Subscribers`

      else
        h1= emptyMessage