
#banner
    img#banner-image(src='/images/user-banners/default.jpg')

#userHeader
    a(href=`/users/${user.username}`)
        img#uploaderPhoto(src=`/images/user-thumbs/${user.imageURL}`)
    #subdiv
        a#userName(href=`/users/${user.username}`)= `${user.username}`
        p#subcount= `${user.formattedSubCount} Subscribers`
    
if user.username==username
    a#accountRedirect(href="/account")= "View your account"