

#userHeader
    a(href=`/users/${user.username}`)
        img#uploaderPhoto(src=`/images/user-thumbs/${user.imageURL}`)
    #subdiv
        a#userName(href=`/users/${user.username}`)= `${user.username}`
        p#subcount= `${user.subscriberCount} Subscriber`