

ul
  li
    button#exitMenu(onclick="toggleSidebar()")= "X"
  li
    a(href=`/users/${user.username}`)= `Videos`
  li
    a(href=`/users/${user.username}/subscribers`)= `Subscribers`
  li
    a(href=`/users/${user.username}/subscribed-to`)= `Suscribed to`
  li
    a(href=`/users/${user.username}/liked-videos`)= `Liked`
  li
    a(href=`/users/${user.username}/disliked-videos`)= `Disliked`
  li
    a(href=`/users/${user.username}/bookmarked-videos`)= `Bookmarked`

